.intro {
  height: 880vh;
  position: relative;

  @media (max-width: 1600px) {
    height: 865vh;
  }

  @media (max-width: 1300px) {
    // height: 900vh;
    // height: 910vh;
    height: 960vh;
  }

  @media (max-width: 1000px) {
    // height: 960vh;
    // height: 980vh;
    height: 1025vh;
  }

  @media (max-width: 650px) {
    // height: 1165vh;
        height: 1180vh;
  }

  @media (max-width: 420px) {
    // height: 1165vh;
        height: 1215vh;
  }

  &::after {
    content: '';
    background-image: url('https://storage.yandexcloud.net/cnd.yandex.hr/cosmos/decorate.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;

    @media (max-width: 1300px) {
      width: 700px;
      height: 400px;
    }
  
    @media (max-width: 1000px) {
      width: 600px;
      height: 300px;
    }
  
    @media (max-width: 650px) {
      width: 500px;
      height: 200px;
    }
  }

  .video {
    position: relative;
  }

  .video__media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .intro__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .intro__scroll__btn {
      width: 800px;
      position: fixed;
      margin-left: -400px;
      left: 50%;
      bottom: 3%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      pointer-events: none;

      @media (max-width: 650px) {
        gap: 0px;
      }

      .intro__scroll__btn__text {
        color: rgba(255, 255, 255, 0.32);
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "YS Text";
        font-size: 28px;
        font-weight: 500;
        line-height: 140%;
        /* 39.2px */

        @media (max-width: 650px) {
          font-size: 20px;
        }

        @media (max-width: 460px) {
          font-size: 15px;
        }
      }

      .intro__scroll__btn__arrow {
        svg {

          @media (max-width: 650px) {
            width: 28px;
            height: 48px;
          }
        }
      }
    }

    .intro__text__content {
      height: 280vh;
      max-width: 1280px;
      margin: 0px auto;
      margin-top: 22%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 1300px) {
        margin-top: 45%;
      }
    
      @media (max-width: 1000px) {
        margin-top: 65%;
      }
    
      @media (max-width: 650px) {
        margin-top: 100%;
      }

      img {
        @media (max-width: 1000px) {
          max-width: 650px
        }
      
        @media (max-width: 650px) {
          max-width: 460px
        }

        @media (max-width: 460px) {
          max-width: 320px
        }
      }
    }

    .intro__goose__content {
      height: 200vh;
      // height: 100vh;
      // margin: 500px 0;

      .intro__goose__main__container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro__goose__container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 32px;
          // opacity: 0;


          .intro__goose__text__container {
            @media (max-width: 460px) {
              font-size: 16px;
            }

            .swiper-wrapper {
              max-width: 560px;

              @media (max-width: 460px) {
                max-width: 500px;
              }
            }

            .swiper-slide {
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;

              .intro__goose__text {
                max-width: 330px;
        
                @media (max-width: 460px) {
                  max-width: 280px;
                }

                div:last-child {
                  margin-top: 12px;
                }
              }
            }
          }

          .swiper-button-next,
          .swiper-rtl .swiper-button-prev {
            background-image: none !important;
            right: 16px;
            left: auto;
            top: 40%;
            color: #FFF;
            width: 20px;

            &::after {
              content: url(https://storage.yandexcloud.net/cnd.yandex.hr/cosmos/arrowright.svg);
            }

            @media (max-width: 576px) {
              right: 56px;
            }

            @media (max-width: 460px) {
              display: none;
            }
          }

          .swiper-button-prev,
          .swiper-rtl .swiper-button-next {
            background-image: none !important;
            left: 16px;
            right: auto;
            top: 40%;
            color: #FFF;

            &::after {
              content: url(https://storage.yandexcloud.net/cnd.yandex.hr/cosmos/arrowleft.svg);
            }

            @media (max-width: 576px) {
              left: 56px;
            }

            @media (max-width: 460px) {
              display: none;
            }
          }
        }
      }
    }

    .home {
      // margin-top: 300px;
      height: 160vh;

        @media (max-width: 1300px) {
          height: 240vh;
        }

        @media (max-width: 1000px) {
          height: 280vh;
        }

        @media (max-width: 650px) {
          height: 360vh;
        }

        @media (max-width: 500px) {
          height: 380vh;
        }

        @media (max-width: 420px) {
          height: 412vh;
        }

      .home__container {
        max-width: 1304px;
        margin: 0px auto;

        @media (max-width: 1300px) {
          max-width: 1000px;
        }

        @media (max-width: 1000px) {
          max-width: 650px;
        }

        @media (max-width: 650px) {
          padding: 15px;
        }

        .home__content {

          .home__content__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .home__goose {
              position: relative;

              svg {
                cursor: pointer;

                @media (max-width: 650px) {
                  max-width: 60px;
                }
  
                @media (max-width: 420px) {
                  max-width: 50px;
                }
              }

              //попапы

              .home__goose__overlay {
                display: none;
                // position: fixed;
                // z-index: 100;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                // opacity: 0.5;

                &--active {
                  display: block;
                }
              }

              .home__goose__popup {
                background: #0E151D;
                position: absolute;
                z-index: 200;
                top: -120px;
                left: 0;
                padding: 16px;
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(10px);
                display: flex;
                gap: 24px;
                width: 335px;

                @media (max-width: 420px) {
                  width: 300px;
                }

                .home__goose__popup__content {
                  position: relative;

                  a {
                    color: inherit;
                  }
                }

                .home__goose__popup__close-button {
                  border: none;
                  background: transparent;
                  color: #fff;
                  cursor: pointer;
                }
              }
            }

            .home__titles {

              .home__title {
                text-align: center;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: "YS Text Wide";
                font-size: 36px;
                font-weight: 800;
                line-height: 140%;
                /* 50.4px */

                @media (max-width: 650px) {
                  font-size: 24px;
                }

                @media (max-width: 420px) {
                  font-size: 20px;
                }
              }

              .home__subtitle {
                text-align: center;
                font-variant-numeric: lining-nums proportional-nums;
                font-size: 18px;
                font-weight: 700;
                margin-top: 32px;

                @media (max-width: 650px) {
                  font-size: 16px;
                }

                @media (max-width: 420px) {
                  font-size: 15px;
                  margin-top: 20px;
                }
              }
            }

            .home__rover {
              position: relative;

              svg {
                cursor: pointer;

                @media (max-width: 650px) {
                  max-width: 80px;
                }

                @media (max-width: 420px) {
                  max-width: 60px;
                }
              }

              .home__rover__overlay {
                display: none;
                // position: fixed;
                // z-index: 100;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                // opacity: 0.5;

                &--active {
                  display: block;
                }
              }

              .home__rover__popup {
                background: #0E151D;
                position: absolute;
                z-index: 200;
                top: 140px;
                right: 0;
                padding: 16px;
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(10px);
                display: flex;
                gap: 24px;
                width: 335px;

                @media (max-width: 420px) {
                  width: 300px;
                }

                .home__rover__popup__content {
                  position: relative;

                  a {
                    color: inherit;
                  }
                }

                .home__rover__popup__close-button {
                  border: none;
                  background: transparent;
                  color: #fff;
                  cursor: pointer;
                }
              }
            }
          }

          .home__content__bottom {
            margin-top: 64px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
            flex-wrap: wrap;

            @media (max-width: 420px) {
              margin-top: 32px;
            }

            .home__card {
              border-radius: 12px;
              background: #1F1731;


              .home__card__clickable {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 72px;
                padding: 16px;


                .home__card__left {
                  display: flex;
                  gap: 20px;
                  align-items: center;

                  svg {
                    border-radius: 50%;
                  }

                  .home__card__title {
                    font-weight: 500;
                  }
                }

                .home__card__arrow {
                  transition: 0.35s;

                  &--is-active {
                    rotate: 180deg;
                  }
                }
              }

              .home__card__clickable-2 {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 72px;
                padding: 16px;


                .home__card__left {
                  display: flex;
                  gap: 20px;
                  align-items: center;

                  svg {
                    border-radius: 50%;
                  }
                }

                .home__card__arrow {
                  transition: 0.35s;

                  &--is-active {
                    rotate: 180deg;
                  }
                }
              }

              .home__card__opener {
                max-height: 0px;
                min-height: 0px;
                opacity: 0;
                overflow: hidden;
                transition: 0.35s;

                .home__card__opener__content {
                  padding: 0 16px 16px 16px;
                  color: #FFF;
                  font-family: "YS Display";
                  font-size: 16px;
                  line-height: 120%;
                  /* 19.2px */
                  display: flex;
                  flex-direction: column;
                  gap: 22px;

                  .home__card__ul__container {
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: 650px) {
                      flex-direction: column;
                      gap: 14px;
                    }

                    .home__card__ul {
                      display: flex;
                      flex-direction: column;
                      gap: 14px;

                      @media (max-width: 650px) {
                        flex-direction: column;
                        // flex-wrap: wrap;
                      }

                      .home__card__ul__item {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                      }
                    }

                  }
                }

                &--is-active {
                  // height: 400px;
                  min-height: 400px;
                  max-height: 400px;
                  opacity: 1;

                  @media (max-width: 650px) {
                    min-height: 0px;
                    max-height: 600px;
                  }
                }

                &--is-active-2 {
                  // height: 250px;
                  min-height: 250px;
                  max-height: 250px;
                  opacity: 1;

                  @media (max-width: 650px) {
                    min-height: 0px;
                    max-height: 600px;
                  }
                }
              }

            }

            .w32 {
              width: 307px;

              @media (max-width: 650px) {
                width: 100%;
              }
            }

            .w49 {
              width: 639px;

              @media (max-width: 650px) {
                width: 100%;
              }
            }
          }

          .home__wow__link {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 54px;
            // cursor: pointer;

            div {
              color: rgba(255, 255, 255, 0.48);
              font-variant-numeric: lining-nums proportional-nums;
              font-size: 16px;
              font-weight: 500;
              line-height: 120%;
              /* 19.2px */
            }

            svg {
              width: 14px;
              height: 24px;
            }
          }
        }
      }
    }

    .wow {
      // height: 100vh;
      // margin-top: 40%;

      .wow__container {
        margin: 0 auto;
        max-width: 1304px;

        @media (max-width: 1300px) {
          max-width: 1000px;
        }

        @media (max-width: 1000px) {
          max-width: 650px;
        }

        @media (max-width: 650px) {
          padding: 15px;
        }


        .wow__content {

          .wow__content__top {
            display: flex;
            align-items: center;
            gap: 22%;

            @media (max-width: 1300px) {
              gap: 18%;
            }

            @media (max-width: 1000px) {
              gap: 30px;
            }

            @media (max-width: 650px) {
              gap: 32px;
            }

            @media (max-width: 420px) {
              gap: 16px;
            }

            .wow__goose {
              position: relative;

              svg {
                cursor: pointer;

                @media (max-width: 650px) {
                  max-width: 60px;
                }

                @media (max-width: 420px) {
                  max-width: 50px;
                }

              }

              .wow__goose__overlay {
                display: none;
                // position: fixed;
                // z-index: 100;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                // opacity: 0.5;
                // background-color: #000;

                &--active {
                  display: block;
                }
              }

              .wow__goose__popup {
                background: #0E151D;
                position: absolute;
                z-index: 200;
                top: -120px;
                left: 0;
                padding: 16px;
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(10px);
                display: flex;
                gap: 24px;
                width: 335px;


                @media (max-width: 420px) {
                  width: 300px;
                }

                .wow__goose__popup__content {
                  position: relative;

                  a {
                    color: inherit;
                  }
                }

                .wow__goose__popup__close-button {
                  border: none;
                  background: transparent;
                  color: #fff;
                  cursor: pointer;
                }
              }
            }

            .wow__title {
              color: #FFF;
              text-align: center;
              font-variant-numeric: lining-nums proportional-nums;
              font-family: "YS Text Wide";
              font-size: 36px;
              font-style: normal;
              font-weight: 800;
              line-height: 140%;
              /* 50.4px */

              @media (max-width: 650px) {
                font-size: 24px;
              }

              @media (max-width: 420px) {
                font-size: 20px;  
              }
            }
          }

          .wow__content__bottom {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 24px;

            .wow__card {
              display: flex;
              justify-content: space-between;
              gap: 8px;
              width: 307px;
              border-radius: 12px;
              background: #1F1731;
              padding: 12px;

              .wow__card__image {}

              .wow__card__text {
                color: #FFF;
                font-variant-numeric: lining-nums proportional-nums;
                font-size: 12px;
                line-height: 140%;
                /* 16.8px */
                /* 16.8px */
              }
            }

            .wow__card__row1 {
              height: 92px;
            }

            .wow__card__row2 {
              height: 92px;
            }

            .wow__card__row3 {
              height: 92px;
            }

            .wow__card__row4 {
              height: 109px;
            }
          }
        }
      }
    }

    .header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 65px;

      .header__logo {}

      .header__nav__links {
        display: flex;
        gap: 24px;
        /* 25.2px */

        .header__nav__link {
          color: #FFF;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 18px;
          line-height: 140%;

          a {
            text-decoration: none;
            color: inherit;
          }

          &--active {
            opacity: 0.4;
          }
        }
      }
    }
  }
}